{% extends 'Template.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        {{ person.firstname }} {{ person.lastname }} is {{ person.age }} years old.
    </div>
{% endblock %}