{% extends 'Template.html.twig' %}

{% block title %}List of People : {% endblock %}

{% block body %}
    <div class="row g-1">
        {% for person in persons %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ person.firstname }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ person.lastname }}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{ path('detail.person', {id: person.id}) }}" class="card-link">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
